<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarkDown Editor</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="scripts/vendors/highlightjs/styles/monokai.css">
</head>
<body ng-controller="EditorController">
    <header class="header">
        <nav class="fr mr_10">
            <a href="javascript:;" ng-click="save()">save</a>
        </nav>
    </header>
    <section class="container">
        <section class="content {{hidePreview ? '':'half'}} fl fill" ng-show="!hideContent">
            <section class="editor-options">
                <ul>
                    <li ng-show="!hidePreview">
                        <a href="javascript:;" ng-click="hidePreview = true;"><i class="iconfont i-fanhui6"></i></a>
                    </li>
                    <li ng-show="hidePreview">
                        <a href="javascript:;" ng-click="hidePreview = false;"><i class="iconfont i-fanhui5"></i></a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="showMdSyntax()"><i class="iconfont i-jingshi"></i></a>
                    </li>
                </ul>
            </section>
            <div editor-box name="name" class="editor-box fill" placeholder="markdown" ng-model="contentText"></div>
        </section>
        <section class="preview {{hideContent ? '':'half'}} fr fill" ng-show="!hidePreview">
            <section class="editor-options">
                <ul>
                    <li ng-show="!hideContent">
                        <a href="javascript:;" ng-click="hideContent = true;"><i class="iconfont i-fanhui5"></i></a>
                    </li>
                    <li ng-show="hideContent">
                        <a href="javascript:;" ng-click="hideContent = false;"><i class="iconfont i-fanhui6"></i></a>
                    </li>
                </ul>
            </section>
            <section class="preview-box fill markdown" ng-bind-html="previewHTML"></section>
        </section>
    </section>
    <script src="scripts/vendors/requirejs/require.js" data-main="scripts/index.js"></script>
</body>
</html>
