$path: "../webfonts/";

@font-face {
    font-family: "iconfont";
    src: url('#{$path}iconfont.eot'); /* IE9*/
    src: url('#{$path}iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$path}iconfont.woff') format('woff'), /* chrome、firefox */
    url('#{$path}iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('#{$path}iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.i-shengriliwu:before { content: "\3435"; }
.i-tianmaohaoquan:before { content: "\3439"; }
.i-liebiao:before { content: "\343a"; }
.i-qiehuanqiyou:before { content: "\3464"; }
.i-qiehuanqizuo:before { content: "\3465"; }
.i-wodezichan:before { content: "\f0001"; }
.i-pinpai:before { content: "\f003e"; }
.i-xiaojiantou:before { content: "\f004d"; }
.i-jia:before { content: "\f0050"; }
.i-yiguanzhu:before { content: "\f0052"; }
.i-weiguanzhu:before { content: "\f0054"; }
.i-huanyipi:before { content: "\f004c"; }
.i-gonggao:before { content: "\f0068"; }
.i-shouye:before { content: "\f00f1"; }
.i-wo:before { content: "\f00f3"; }
.i-gongnengjianyi:before { content: "\f00f6"; }
.i-huanyipi1:before { content: "\f00f7"; }
.i-fanhui8:before { content: "\f010e"; }
.i-gengduo:before { content: "\f0112"; }
.i-shoucangxuanzhong:before { content: "\f0113"; }
.i-shoucang:before { content: "\f0114"; }
.i-fanhui1:before { content: "\f0115"; }
.i-fanhui2:before { content: "\f0116"; }
.i-fanhui3:before { content: "\f0117"; }
.i-fanhui4:before { content: "\f0118"; }
.i-fangxiang2:before { content: "\f011b"; }
.i-fangxiang1:before { content: "\f011d"; }
.i-fangxiang3:before { content: "\f011e"; }
.i-fangxiang4:before { content: "\f011f"; }
.i-sanjiao2:before { content: "\f0121"; }
.i-sanjiao1:before { content: "\f0122"; }
.i-sanjiao4:before { content: "\f0123"; }
.i-sanjiao3:before { content: "\f0124"; }
.i-jifen:before { content: "\f0126"; }
.i-shanchu2:before { content: "\f012a"; }
.i-shanchu:before { content: "\f012d"; }
.i-fenxiang:before { content: "\f016e"; }
.i-gengduo1:before { content: "\f0170"; }
.i-fenxiang1:before { content: "\f016f"; }
.i-shuaxin:before { content: "\f017d"; }
.i-tabulation:before { content: "\f0184"; }
.i-shezhi:before { content: "\f018f"; }
.i-quanbudingdan:before { content: "\f018e"; }
.i-31fenxiang:before { content: "\f01ba"; }
.i-31zhuanfa:before { content: "\f01bb"; }
.i-31jiancai:before { content: "\f01e9"; }
.i-shouji:before { content: "\3448"; }
.i-shuru:before { content: "\346a"; }
.i-woguanzhudepinpai:before { content: "\f0004"; }
.i-yiwen:before { content: "\f006d"; }
.i-chucuo:before { content: "\f006f"; }
.i-jingshi:before { content: "\f0070"; }
.i-zhengque:before { content: "\f0071"; }
.i-leijipingjia:before { content: "\f00b1"; }
.i-guanzhudianpu:before { content: "\f00b4"; }
.i-yiguanzhu1:before { content: "\f00b7"; }
.i-tuwenxiangqing:before { content: "\f00b0"; }
.i-saoyisao:before { content: "\f00a7"; }
.i-fenlei:before { content: "\f00a6"; }
.i-shoucangshangpin:before { content: "\f00b9"; }
.i-datumoshi:before { content: "\f00bd"; }
.i-xiaoxi:before { content: "\f00bc"; }
.i-zhongtumoshi:before { content: "\f00bf"; }
.i-guanzhugengduocaozuo:before { content: "\f00c1"; }
.i-fanpaizhao:before { content: "\f00c0"; }
.i-zhongtumoshi1:before { content: "\f00cb"; }
.i-datumoshi1:before { content: "\f00d4"; }
.i-liebiaomoshi:before { content: "\f00d7"; }
.i-saoma:before { content: "\f00d8"; }
.i-xiugaioryijian:before { content: "\f00fc"; }
.i-pengyouquan:before { content: "\f0103"; }
.i-xinlang:before { content: "\f0105"; }
.i-weixin:before { content: "\f0106"; }
.i-shangsheng:before { content: "\f0107"; }
.i-jiancai:before { content: "\f0119"; }
.i-fanhui7:before { content: "\f010f"; }
.i-fanhui6:before { content: "\f0110"; }
.i-fanhui5:before { content: "\f0111"; }
.i-huidaodingbu:before { content: "\f012c"; }
.i-shanchu1:before { content: "\f014a"; }
.i-camera:before { content: "\f0178"; }
.i-home2:before { content: "\f0175"; }
.i-home:before { content: "\f0174"; }
.i-jia1:before { content: "\f018b"; }
.i-31shoucangxuanzhong:before { content: "\f01aa"; }
.i-31shoucang:before { content: "\f01ab"; }
.i-31yiguanzhudianpu:before { content: "\f01b7"; }
