.markdown {

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 0.3em 0;
        line-height: 1.15em;
        color: #242628;
        text-rendering: optimizeLegibility;
        -webkit-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
        -moz-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
        font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h1 {
        color: #000;
        font-size: 28px;
    }

    h2 {
        color: #000;
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        color: #777;
        background-color: inherit;
        font-size: 14px;
    }
    p, ul, ol, dl {
         margin: 0 0 1.7em 0;
    }
    ol, ul {
        padding-left: 2.5em;

    }
    ol li {
        list-style-type: decimal;
    }
    ul li {
        list-style-type: disc;
    }
    ol ol, ul ul, ul ol, ol ul {
        margin: 0 0 0.4em 0;
        padding-left: 2em;
        font-size: 0.9em;
    }
    mark {
        background-color: #fdffb6;
    }
    a {
        color: #5BA4E5;
        text-decoration: none;
        -webkit-transition: background 0.3s, color 0.3s;
        transition: background 0.3s, color 0.3s;

        &:hover {
            text-decoration: none;
            -webkit-transition: background 0.1s, color 0.1s;
            transition: background 0.1s, color 0.1s;
        }

        &.highlight {
            color: #F2A925;
            font-weight: bold;
        }
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #edece4;
        margin: 3.2em 0;
        padding: 0;
    }
    dl {
        margin: 1.6em 0;

        dt {
            float: left;
            width: 180px;
            overflow: hidden;
            clear: left;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
            margin-bottom: 1em;
        }
         dd {
            margin-left: 200px;
            margin-bottom: 1em;
        }
    }
    blockquote {
        margin: 1.6em 0;
        padding: 0 1.6em 0 1.6em;
        border-left: #edece4 0.6em solid;

        p {
            margin: 0.8em 0;
            font-size: 1.2em;
            font-weight: 300;
        }

        small {
            display: inline-block;
            margin: 0.8em 0 0.8em 1.5em;
            font-size: 0.9em;
            color: #aaa9a2;

            &:before {
                content: '\2014 \00A0';
            }
        }

        cite {
            font-weight: bold;

            a {
                font-weight: normal;
            }
        }
    }
    pre, code, tt {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
    code, tt {
        font-size: 0.85em;
        white-space: pre-wrap;
        background: #f1f0ea;
        border-radius: 2px;
        padding: 0.2em 0.4em;
        vertical-align: top;
    }
    pre {
        margin: 1.6em 0;
        background: #f1f0ea;
        width: 100%;
        padding: 10px;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 0.9em;
        white-space: pre;
        overflow: auto;
        border-radius: 3px;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;

        code, tt {
            font-size: inherit;
            white-space: -moz-pre-wrap;
            white-space: pre-wrap;
            background: transparent;
            border: none;
            padding: 0;
        }
    }
    kbd {
        display: inline-block;
        margin-bottom: 0.4em;
        padding: 1px 8px;
        border: #ccc 1px solid;
        color: #242628;
        text-shadow: #fff 0 1px 0;
        font-size: 0.9em;
        font-weight: bold;
        background: #f4f4f4;
        border-radius: 4px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
    }
    button {
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
    }
}
