@charset "UTF-8";
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

/** 设置默认字体 **/
body,
button, input, select, textarea {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

/* 将斜体扶正 */
code, kbd, pre, samp {
  font-family: courier new, courier, monospace; }

/* 统一等宽字体 */
small {
  font-size: 12px; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
ul, ol {
  list-style: none; }

/** 重置文本格式元素 **/
a {
  text-decoration: none; }

/** 重置表单元素 **/
legend {
  color: #000; }

/* for ie6 */
fieldset, img {
  border: 0; }

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
  font-size: 100%; }

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "iconfont";
  src: url("../webfonts/iconfont.eot");
  /* IE9*/
  src: url("../webfonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/iconfont.woff") format("woff"), url("../webfonts/iconfont.ttf") format("truetype"), url("../webfonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.i-shengriliwu:before {
  content: "\3435"; }

.i-tianmaohaoquan:before {
  content: "\3439"; }

.i-liebiao:before {
  content: "\343a"; }

.i-qiehuanqiyou:before {
  content: "\3464"; }

.i-qiehuanqizuo:before {
  content: "\3465"; }

.i-wodezichan:before {
  content: "\f0001"; }

.i-pinpai:before {
  content: "\f003e"; }

.i-xiaojiantou:before {
  content: "\f004d"; }

.i-jia:before {
  content: "\f0050"; }

.i-yiguanzhu:before {
  content: "\f0052"; }

.i-weiguanzhu:before {
  content: "\f0054"; }

.i-huanyipi:before {
  content: "\f004c"; }

.i-gonggao:before {
  content: "\f0068"; }

.i-shouye:before {
  content: "\f00f1"; }

.i-wo:before {
  content: "\f00f3"; }

.i-gongnengjianyi:before {
  content: "\f00f6"; }

.i-huanyipi1:before {
  content: "\f00f7"; }

.i-fanhui8:before {
  content: "\f010e"; }

.i-gengduo:before {
  content: "\f0112"; }

.i-shoucangxuanzhong:before {
  content: "\f0113"; }

.i-shoucang:before {
  content: "\f0114"; }

.i-fanhui1:before {
  content: "\f0115"; }

.i-fanhui2:before {
  content: "\f0116"; }

.i-fanhui3:before {
  content: "\f0117"; }

.i-fanhui4:before {
  content: "\f0118"; }

.i-fangxiang2:before {
  content: "\f011b"; }

.i-fangxiang1:before {
  content: "\f011d"; }

.i-fangxiang3:before {
  content: "\f011e"; }

.i-fangxiang4:before {
  content: "\f011f"; }

.i-sanjiao2:before {
  content: "\f0121"; }

.i-sanjiao1:before {
  content: "\f0122"; }

.i-sanjiao4:before {
  content: "\f0123"; }

.i-sanjiao3:before {
  content: "\f0124"; }

.i-jifen:before {
  content: "\f0126"; }

.i-shanchu2:before {
  content: "\f012a"; }

.i-shanchu:before {
  content: "\f012d"; }

.i-fenxiang:before {
  content: "\f016e"; }

.i-gengduo1:before {
  content: "\f0170"; }

.i-fenxiang1:before {
  content: "\f016f"; }

.i-shuaxin:before {
  content: "\f017d"; }

.i-tabulation:before {
  content: "\f0184"; }

.i-shezhi:before {
  content: "\f018f"; }

.i-quanbudingdan:before {
  content: "\f018e"; }

.i-31fenxiang:before {
  content: "\f01ba"; }

.i-31zhuanfa:before {
  content: "\f01bb"; }

.i-31jiancai:before {
  content: "\f01e9"; }

.i-shouji:before {
  content: "\3448"; }

.i-shuru:before {
  content: "\346a"; }

.i-woguanzhudepinpai:before {
  content: "\f0004"; }

.i-yiwen:before {
  content: "\f006d"; }

.i-chucuo:before {
  content: "\f006f"; }

.i-jingshi:before {
  content: "\f0070"; }

.i-zhengque:before {
  content: "\f0071"; }

.i-leijipingjia:before {
  content: "\f00b1"; }

.i-guanzhudianpu:before {
  content: "\f00b4"; }

.i-yiguanzhu1:before {
  content: "\f00b7"; }

.i-tuwenxiangqing:before {
  content: "\f00b0"; }

.i-saoyisao:before {
  content: "\f00a7"; }

.i-fenlei:before {
  content: "\f00a6"; }

.i-shoucangshangpin:before {
  content: "\f00b9"; }

.i-datumoshi:before {
  content: "\f00bd"; }

.i-xiaoxi:before {
  content: "\f00bc"; }

.i-zhongtumoshi:before {
  content: "\f00bf"; }

.i-guanzhugengduocaozuo:before {
  content: "\f00c1"; }

.i-fanpaizhao:before {
  content: "\f00c0"; }

.i-zhongtumoshi1:before {
  content: "\f00cb"; }

.i-datumoshi1:before {
  content: "\f00d4"; }

.i-liebiaomoshi:before {
  content: "\f00d7"; }

.i-saoma:before {
  content: "\f00d8"; }

.i-xiugaioryijian:before {
  content: "\f00fc"; }

.i-pengyouquan:before {
  content: "\f0103"; }

.i-xinlang:before {
  content: "\f0105"; }

.i-weixin:before {
  content: "\f0106"; }

.i-shangsheng:before {
  content: "\f0107"; }

.i-jiancai:before {
  content: "\f0119"; }

.i-fanhui7:before {
  content: "\f010f"; }

.i-fanhui6:before {
  content: "\f0110"; }

.i-fanhui5:before {
  content: "\f0111"; }

.i-huidaodingbu:before {
  content: "\f012c"; }

.i-shanchu1:before {
  content: "\f014a"; }

.i-camera:before {
  content: "\f0178"; }

.i-home2:before {
  content: "\f0175"; }

.i-home:before {
  content: "\f0174"; }

.i-jia1:before {
  content: "\f018b"; }

.i-31shoucangxuanzhong:before {
  content: "\f01aa"; }

.i-31shoucang:before {
  content: "\f01ab"; }

.i-31yiguanzhudianpu:before {
  content: "\f01b7"; }

/* float */
.fl {
  float: left; }

.fr {
  float: right; }

/* clear float */
.clearfix {
  clear: both; }

/* margin */
.ml_10 {
  margin-left: 10px; }

.ml_5 {
  margin-left: 5px; }

.mr_10 {
  margin-right: 10px; }

.mr_5 {
  margin-right: 5px; }

/* padding */
.pl_10 {
  padding-left: 10px; }

.pl_5 {
  padding-left: 5px; }

.pr_10 {
  padding-right: 10px; }

.pr_5 {
  padding-right: 5px; }

/* button*/
.btn {
  display: inline-block;
  padding: 5px 14px;
  text-align: center;
  border: 1px solid #e8eaeb;
  border-radius: 3px;
  font-weight: normal;
  color: #666; }
  .btn:hover {
    border: 1px solid #c8ccce;
    background: #e6e6e6; }

.btn-default {
  font-size: 16px; }

/* fill */
html, body, .fill {
  width: 100%;
  height: 100%; }

.fill {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* display*/
.dHide {
  display: none; }

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin: 0 0 0.3em 0;
  line-height: 1.15em;
  color: #242628;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  -moz-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1; }

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: bold; }

.markdown h1 {
  color: #000;
  font-size: 28px; }

.markdown h2 {
  color: #000;
  font-size: 24px; }

.markdown h3 {
  font-size: 18px; }

.markdown h4 {
  font-size: 16px; }

.markdown h5 {
  font-size: 14px; }

.markdown h6 {
  color: #777;
  background-color: inherit;
  font-size: 14px; }

.markdown p, .markdown ul, .markdown ol, .markdown dl {
  margin: 0 0 1.7em 0; }

.markdown ol, .markdown ul {
  padding-left: 2.5em; }

.markdown ol li {
  list-style-type: decimal; }

.markdown ul li {
  list-style-type: disc; }

.markdown ol ol, .markdown ul ul, .markdown ul ol, .markdown ol ul {
  margin: 0 0 0.4em 0;
  padding-left: 2em;
  font-size: 0.9em; }

.markdown mark {
  background-color: #fdffb6; }

.markdown a {
  color: #5BA4E5;
  text-decoration: none;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s; }
  .markdown a:hover {
    text-decoration: none;
    -webkit-transition: background 0.1s, color 0.1s;
    transition: background 0.1s, color 0.1s; }
  .markdown a.highlight {
    color: #F2A925;
    font-weight: bold; }

.markdown hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #edece4;
  margin: 3.2em 0;
  padding: 0; }

.markdown dl {
  margin: 1.6em 0; }
  .markdown dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em; }
  .markdown dl dd {
    margin-left: 200px;
    margin-bottom: 1em; }

.markdown blockquote {
  margin: 1.6em 0;
  padding: 0 1.6em 0 1.6em;
  border-left: #edece4 0.6em solid; }
  .markdown blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300; }
  .markdown blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #aaa9a2; }
    .markdown blockquote small:before {
      content: '\2014 \00A0'; }
  .markdown blockquote cite {
    font-weight: bold; }
    .markdown blockquote cite a {
      font-weight: normal; }

.markdown pre, .markdown code, .markdown tt {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

.markdown code, .markdown tt {
  font-size: 0.85em;
  white-space: pre-wrap;
  background: #f1f0ea;
  border-radius: 2px;
  padding: 0.2em 0.4em;
  vertical-align: top; }

.markdown pre {
  margin: 1.6em 0;
  background: #f1f0ea;
  width: 100%;
  padding: 10px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .markdown pre code, .markdown pre tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0; }

.markdown kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #242628;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset; }

.markdown button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0; }

.half {
  width: 50%; }

/* header */
.header {
  height: 60px;
  width: 100%;
  background: #242628; }
  .header nav {
    line-height: 60px; }
    .header nav a {
      color: #fff;
      display: inline-block;
      padding: 0 10px;
      font-size: 16px; }
      .header nav a:hover {
        background: #000; }

/* container*/
.container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0; }

.content, .preview {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
  overflow: hidden; }

.content {
  border-right: 1px solid #eee;
  position: relative; }
  .content .editor-box {
    padding: 10px;
    word-wrap: break-word;
    resize: none;
    border: none;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto; }

.editor-options {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10; }
  .editor-options i {
    color: rgba(102, 128, 153, 0.45098); }
  .editor-options li {
    float: left;
    margin-right: 15px; }

.preview .preview-box {
  padding: 10px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto; }
